body {
    background-color: black;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.418);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.589);
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(56, 56, 56, 0.425);
    margin-bottom: 1rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    & h1 {
        color: rgb(233, 9, 26);
        margin: 20px;
        margin-left: 20%;
    }

    & input {
        height: 20px;
        margin: 20px;
        height: 2rem;
        width: 20rem;
        background-color: rgb(248, 248, 248);
        border-style: none;
        border-radius: 40px;
        margin-right: 20%;
        transition : transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1)
        }

    }
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    font-size: 0.5rem;
    margin: 20px;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 20px;

}

h2 {
    color: white;
    margin: 2rem;
}

.popularCarouselCard {
    display: flex;
    flex-flow: row;
    gap: 10px;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    list-style: none;

    & img {
        border-radius: 20px;
        transition : transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1)
        }
    }
}     
      

.docuCarouselCard {
    display: flex;
    flex-flow: row;
    gap: 10px;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    list-style: none;

    & img {
        border-radius: 20px;
        transition : transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1)
        }
    }

}