body {
    background-color: black;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.display {
    display: flex;
}

.hidden {
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(252, 4, 4, 0.418);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 135, 135, 0.61);
    border-radius: 10px;


}

img {
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;

    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(56, 56, 56, 0.425);
    margin-bottom: 1rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    & h1 {
        color: rgb(233, 9, 26);
        margin: 20px;
        margin-left: 20%;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    & input {
        height: 2rem;
        width: 20rem;
        background-color: rgb(248, 248, 248);
        border-style: none;
        border-radius: 40px;
        margin-right: 2rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1)
        }

    }

    & .btnSearch {
        height: 2rem;
        width: 5rem;
        background-color: rgb(247, 45, 45);
        border-style: none;
        color: white;
        border-radius: 20px;
        margin-right: 5rem;
        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }


    }
}

.detailsFilm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;
    background-color: rgb(128, 128, 128);
    border-radius: 20px;

    & h1 {
        color: rgb(146, 29, 29);
        font-size: 2rem;
    }

    & h3 {
        color: rgb(177, 177, 42);
    }

    &img {
        margin: 5rem;
        max-width: 100%;
        height: auto;
    }

    & p {
        color: rgb(34, 34, 34);
        font-size: large;
    }
}

.searchList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 30px;
    margin-top: 100px;
    padding: 5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.089);
    background-image: url(./assets/img/netflix-octobre-contenus-2022.jpg);
    border-radius: 20px;

}

.results {
    display: flex;
    color: white;
}

h2 {
    color: white;
    margin: 2rem;
}

.popularCarouselCard {
    display: flex;
    flex-flow: row;
    gap: 10px;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
}


.docuCarouselCard {
    display: flex;
    flex-flow: row;
    gap: 10px;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
}